@mixin flex-direction() {
    @media screen {
        @media (orientation: landscape) {
            flex-direction: row;
        }
        
        @media (orientation: portrait) {
            flex-direction: column;
        }
    }
}

@mixin flex-direction-inverse() {
    @media screen {
        @media (orientation: landscape) {
            flex-direction: column;
        }
        
        @media (orientation: portrait) {
            flex-direction: row;
        }
    }
}

@mixin flex-direction-inverse-reverse() {
    @media screen {
        @media (orientation: landscape) {
            flex-direction: column-reverse;
        }
        
        @media (orientation: portrait) {
            flex-direction: row;
        }
    }
}

@mixin slider-fill() {
    @media screen {
        @media (orientation: landscape) {
            height: 100%;
        }
        
        @media (orientation: portrait) {
            width: 100%;
        }
    }
}

@mixin input-min-margin() {
    @media screen {
        @media (orientation: landscape) {
            margin-bottom: $form-input-margin;
        }
        
        @media (orientation: portrait) {
            margin-right: $form-input-margin;
        }
    }
}

@mixin input-max-margin() {
    @media screen {
        @media (orientation: landscape) {
            margin-top: $form-input-margin;
        }
        
        @media (orientation: portrait) {
            margin-left: $form-input-margin;
        }
    }
}

@mixin listing() {
    h1 {
        margin: 0 0 $default_bottom_margin 0;
    }
    
    p {
        margin: 0 0 $default_bottom_margin 0;
    }
    
    p:last-child {
        margin: 0;
    }
}

$form-input-margin: 15px;