// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'layout';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.container {
    box-sizing: inherit;
    display: flex;
    flex-direction: inherit;
}

#content {
  flex-grow: 1;
  overflow-y: scroll;
}

#options, #content {
    flex-direction: column;
    padding: 15px;
}

#login, #register, #confirmation, #password {
    @extend #content;
}

#main {
    @include flex-direction();
    padding: 10px 0;
    height: 100%;
    width: 100%;
}

#facets {
    height: 100%;
    
    form {
        display: flex;
        height: inherit;
        flex-direction: column;
        flex-wrap: wrap;
        
        .container {
            width: 100%;
            flex-direction: row;
            margin-bottom: 10px;
            justify-content: center;

            #for_container {
                width: auto;
                margin-right: $form-input-margin
            }
        }
        
        .container:last-child {
            margin-bottom: initial;
        }
        
        #sliders {
            flex-grow: 1;
            @include flex-direction();
            
            .container {
                @include flex-direction-inverse();
                margin-bottom: initial;
                align-items: center;
                
                input:first-of-type {
                    @include input-min-margin();
                }
                
                input:last-of-type {
                    @include input-max-margin();
                }
                
                .slider {
                    @include slider-fill();
                }
            }
        }
    }
}

.listing, #listing {
    flex-direction: column;
    
    h1 {
        margin-top: 0;
    }
    
    p {
        margin: 0 0 10px 0;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
}

#listing {
    flex-grow: 1;
}

.listing {
    margin-bottom: 10px;
}

.listing:last-child {
    margin-bottom: 0;
}