<div id="map" class="container">
    <div id="map-canvas" data-latitude="<%= place.latitude %>" data-longitude="<%= place.longitude %>" data-marker-draggable="<%= defined?(draggable_marker) ? draggable_marker : '' %>"></div>
</div>