<div class="listing container">
    <%= render 'form' %>
    
    <div id="map" data-latitude="<%= @place.latitude %>" data-longitude="<%= @place.longitude %>"></div>
</div>

<div id="options" class="container">