<div id="content" class="container">
    <div id="listings" class="container">
        <%= render @places %>
    </div>
    
    <div id="infiniteScrolling">
        <%= will_paginate @places %>
    </div>
</div>

<div id="options" class="container">
    <%= render 'facets' %>