<div id="content" class="container">
    <div id="listings" class="container">
        <%= div_for(@places, :class => "listing container") do |place| %>
            <%= render place %>
        <% end %>
    </div>
    
    <div id="infiniteScrolling">
        <%= will_paginate @places %>
    </div>
</div>

<div id="options" class="container">
    <%= render 'facets' %>